{% extends 'WsunBundle:Default:index.html.twig'%}

{% block bloque1 %}

<div class="box">
    <h3> <strong><span>Editar datos del Empleado</span></strong></h3>


      {{ form_start(edit_form,{'class':"form-horizontal",'method':"POST"}) }}  
    <div class="form-group col-lg-6">

         <div class="input-group-addon">{{ form_label(edit_form.cedulaEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.cedulaEmp,{'attr':{'class':'form-control','placeholder':'Cédula'} }) }}
    </div>  
    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.nombreEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.nombreEmp,{'attr':{'class':'form-control','placeholder':'Nombre'} }) }}
    </div>

    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.apellidoEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.apellidoEmp,{'attr':{'class':'form-control','placeholder':'Apellido'} }) }}
    </div>

     <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.telefonoEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.telefonoEmp,{'attr':{'class':'form-control','placeholder':'Telefono  '} }) }}
    </div>

    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.direccion)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.direccion,{'attr':{'class':'form-control','placeholder':'Dirección'} }) }}
    </div>

    <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.email)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.email,{'attr':{'class':'form-control','placeholder':'E-mail'} }) }}
    </div>

    <div class="form-group col-lg-6">
         <div class="input-group-addon">{{ form_label(edit_form.cargoEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.cargoEmp,{'attr':{'class':'form-control','placeholder':'Cargo'} }) }}
    </div>

     <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.gradoEmp)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.gradoEmp,{'attr':{'class':'form-control','placeholder':'Grado'} }) }}
    </div>

     <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.sueldo)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.sueldo,{'attr':{'class':'form-control','placeholder':'Sueldo '} }) }}
    </div>

     <div class="form-group col-lg-6">
        <div class="input-group-addon">{{ form_label(edit_form.contacto)}}<span class="text-danger">*</span></div>
        {{ form_widget(edit_form.contacto,{'attr':{'class':'form-control','placeholder':'Contacto '} }) }}
    </div>


        <div class="form-group col-lg-6">
        <input type="submit" value="Editar" />
         {{ form_end(edit_form) }}
    </div> 

        <table>

        
    <a href="{{ path('empleado_index') }}" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Vuelva a la lista</a></td></tr>

            
</table> 
    </ul>
{% endblock %}