{% extends 'WsunBundle:Default:index.html.twig'%}
{% block bloque1 %}
<div class="box">
    <div class="panel panel-azul">
    <fieldest>
    <legend class="text-center header">Datos de cursos</legend>
        <div class="container-fluid">

        <div class="row   text-justify">
          <div class="col-sm-2"></div>
          <label class="col-sm-4 control-label">Tipo:</label>
          <div class="col-sm-4 right" >{{ curso.tipo }}</div>
          <div class="col-sm-2"></div>
        </div>  

        <div class="row   text-justify">
          <div class="col-sm-2"></div>
          <label class="col-sm-4 control-label">Nombre del Curso:</label>
          <div class="col-sm-4 right" >{{ curso.nombreCurso }}</div>
          <div class="col-sm-2"></div>
        </div>     
            
         <div class="row   text-justify">
          <div class="col-sm-2"></div>
          <label class="col-sm-4 control-label">Instituciòn:</label>
          <div class="col-sm-4 right" >{{ curso.institucion }}</div>
          <div class="col-sm-2"></div>
        </div>
            
        <div class="row text-justify">
          <div class="col-sm-2"></div>
          <label class="col-sm-4 control-label">Fecha de ingreso:</label>
          <div class="col-sm-4 right" >{{ curso.fechaIngreso.date |date('Y-m-d')  }}</div>
          <div class="col-sm-2"></div>
        </div>
            
        <div class="row text-justify">
          <div class="col-sm-2"></div>
          <label class="col-sm-4 control-label">fechade Finalizaciòn:</label>
          <div class="col-sm-4 right" >{{ curso.fechaFin.date |date('Y-m-d')  }}</div>
          <div class="col-sm-2"></div>
        </div>    
          
         <div class="row   text-justify">
          <div class="col-sm-2"></div>
          <label class="col-sm-4 control-label">Duraciòn:</label>
          <div class="col-sm-4 right" >{{ curso.duracion }}</div>
          <div class="col-sm-2"></div>
        </div>

 <br>
        <div class="row">

       <div class="col-md-4"><a href="{{ path('empleado_index') }}" ><i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i> Vuelva a la lista</a></div>
        <div class="col-md-4"><a href="{{ path('cursos_edit', { 'id': curso.id }) }}">Editar</a></div>
  


    </fieldest>
    
      </div> </div> 
{% endblock %}
{% block javascripts %}
    
    <script>    
  
    </script>
    
{% endblock %}
